#formulario {
    padding: 80px 0;
    background: #f4f1ea;
}

#formulario p {
  font-weight: 500;
  margin-bottom: 0;
}

#formulario h2 {
    text-align: center;
    padding-bottom: 30px;
}

#formulario h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 300px;
    height: 3px;
    background: #287472;
    margin-top: 3px;
    left: calc(50% - 150px);
}

#formulario .formulario-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#formulario .formulario-row-box {
    flex: 1;
    margin: 10px 10px;
    padding: 10px 20px;
    border-radius: 10px;
}

#formulario img {
    width: 500px;
    border-radius: 8px;
}

form {
    border-radius: 3px;
    color: #287472;
}

input,
textarea {
    border: 0;
    outline: none;
    width: 100%;
    resize: vertical;
    margin-bottom: 5px;
}

#formulario input,
textarea::placeholder {
    font-family: "Source Sans 3", sans-serif;
    font-size: 1rem;
}

.field {
    border: solid 1px #287472;
    padding: 15px;
    border-radius: 8px;
}

.field:focus {
    border-color: #ee7033;
}

#formulario .btn {
    margin-top: 10px;
}

#formulario .btn:hover {
    background: #eb9970;
}
